.faq {
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px 0 60px;
}

.faq-content {
  display: grid;
  grid-template-columns: 750px 1fr;
  column-gap: 38px;
}

/* =========================
   LEFT SIDE
   ========================= */

.faq-main {
  min-width: 0;
}

.faq-heading {
  font-size: 33px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 8px;
  padding-bottom: 7px;
  border-bottom: 2px solid #e5c400;
}

.faq-image {
  margin: 0 0 10px;
}

.faq-image picture,
.faq-image img {
  display: block;
  width: 100%;
}

.faq-image img {
  height: auto;
}

/* =========================
   DESCRIPTION
   ========================= */

.faq-description {
  font-size: 10px;
  line-height: 1.8;
  margin: 0 0 12px;
}

.faq-description p {
  margin: 0;
}

/* =========================
   ACCORDION
   ========================= */

.faq-accordion {
  width: 100%;
}

.faq-item {
  border-bottom: 1px solid #ddd;
}

.faq-question {
  width: 100%;
  min-height: 27px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px 4px;

  background: transparent;
  border: 0;

  color: #111;

  font-size: 8px;
  font-weight: 600;
  text-align: left;

  cursor: pointer;
}

.faq-question:hover {
  background-color: #f7f7f7;
}

.faq-plus {
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  color: #0879c9;
}

.faq-answer {
  padding: 8px 5px 12px;

  font-size: 10px;
  line-height: 1.5;

  background: #fafafa;
}

.faq-answer p {
  margin: 0;
}

/* =========================
   RIGHT SIDE
   ========================= */

.faq-aside {
  padding-top: 27px;
  padding-left:65px;
  margin-bottom: 13.5px;
}

.faq-help h2 {
  margin: 0 0 8px;

  font-size: 22px;
  font-weight: 400;
}

.faq-help p {
  margin: 0 0 5px;
  color:#202020
  font-size: 16px;
  line-height: 1.5;
}

.faq-help a {
  color: #0045FF;
  text-decoration: underline;
}

/* =========================
   MOBILE
   ========================= */

@media (max-width: 768px) {
  .faq {
    padding: 20px 24px 40px;
  }

  .faq-content {
    display: block;
  }

  .faq-aside {
    margin-top: 30px;
  }

  .faq-heading {
    font-size: 20px;
  }

  .faq-question {
    font-size: 10px;
  }
}
